.darkBlue {
  background: #0c3280;
}

.darkBlueMask {
  background: rgba(38, 103, 255, 0.1);
}

.blue {
  background: #2667ff;
}

.teal {
  background: #2eb5c3;
}

.red {
  background: #ff4700;
}

.yellow {
  background: #ffb000;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-stretch {
  align-content: stretch;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-content: center;
}

.flex-end {
  align-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.hp-0 {
  height: 0%;
}

.hp-1 {
  height: 1%;
}

.hp-2 {
  height: 2%;
}

.hp-3 {
  height: 3%;
}

.hp-4 {
  height: 4%;
}

.hp-5 {
  height: 5%;
}

.hp-6 {
  height: 6%;
}

.hp-7 {
  height: 7%;
}

.hp-8 {
  height: 8%;
}

.hp-9 {
  height: 9%;
}

.hp-10 {
  height: 10%;
}

.hp-11 {
  height: 11%;
}

.hp-12 {
  height: 12%;
}

.hp-13 {
  height: 13%;
}

.hp-14 {
  height: 14%;
}

.hp-15 {
  height: 15%;
}

.hp-16 {
  height: 16%;
}

.hp-17 {
  height: 17%;
}

.hp-18 {
  height: 18%;
}

.hp-19 {
  height: 19%;
}

.hp-20 {
  height: 20%;
}

.hp-21 {
  height: 21%;
}

.hp-22 {
  height: 22%;
}

.hp-23 {
  height: 23%;
}

.hp-24 {
  height: 24%;
}

.hp-25 {
  height: 25%;
}

.hp-26 {
  height: 26%;
}

.hp-27 {
  height: 27%;
}

.hp-28 {
  height: 28%;
}

.hp-29 {
  height: 29%;
}

.hp-30 {
  height: 30%;
}

.hp-31 {
  height: 31%;
}

.hp-32 {
  height: 32%;
}

.hp-33 {
  height: 33%;
}

.hp-34 {
  height: 34%;
}

.hp-35 {
  height: 35%;
}

.hp-36 {
  height: 36%;
}

.hp-37 {
  height: 37%;
}

.hp-38 {
  height: 38%;
}

.hp-39 {
  height: 39%;
}

.hp-40 {
  height: 40%;
}

.hp-41 {
  height: 41%;
}

.hp-42 {
  height: 42%;
}

.hp-43 {
  height: 43%;
}

.hp-44 {
  height: 44%;
}

.hp-45 {
  height: 45%;
}

.hp-46 {
  height: 46%;
}

.hp-47 {
  height: 47%;
}

.hp-48 {
  height: 48%;
}

.hp-49 {
  height: 49%;
}

.hp-50 {
  height: 50%;
}

.hp-51 {
  height: 51%;
}

.hp-52 {
  height: 52%;
}

.hp-53 {
  height: 53%;
}

.hp-54 {
  height: 54%;
}

.hp-55 {
  height: 55%;
}

.hp-56 {
  height: 56%;
}

.hp-57 {
  height: 57%;
}

.hp-58 {
  height: 58%;
}

.hp-59 {
  height: 59%;
}

.hp-60 {
  height: 60%;
}

.hp-61 {
  height: 61%;
}

.hp-62 {
  height: 62%;
}

.hp-63 {
  height: 63%;
}

.hp-64 {
  height: 64%;
}

.hp-65 {
  height: 65%;
}

.hp-66 {
  height: 66%;
}

.hp-67 {
  height: 67%;
}

.hp-68 {
  height: 68%;
}

.hp-69 {
  height: 69%;
}

.hp-70 {
  height: 70%;
}

.hp-71 {
  height: 71%;
}

.hp-72 {
  height: 72%;
}

.hp-73 {
  height: 73%;
}

.hp-74 {
  height: 74%;
}

.hp-75 {
  height: 75%;
}

.hp-76 {
  height: 76%;
}

.hp-77 {
  height: 77%;
}

.hp-78 {
  height: 78%;
}

.hp-79 {
  height: 79%;
}

.hp-80 {
  height: 80%;
}

.hp-81 {
  height: 81%;
}

.hp-82 {
  height: 82%;
}

.hp-83 {
  height: 83%;
}

.hp-84 {
  height: 84%;
}

.hp-85 {
  height: 85%;
}

.hp-86 {
  height: 86%;
}

.hp-87 {
  height: 87%;
}

.hp-88 {
  height: 88%;
}

.hp-89 {
  height: 89%;
}

.hp-90 {
  height: 90%;
}

.hp-91 {
  height: 91%;
}

.hp-92 {
  height: 92%;
}

.hp-93 {
  height: 93%;
}

.hp-94 {
  height: 94%;
}

.hp-95 {
  height: 95%;
}

.hp-96 {
  height: 96%;
}

.hp-97 {
  height: 97%;
}

.hp-98 {
  height: 98%;
}

.hp-99 {
  height: 99%;
}

.hp-100 {
  height: 100%;
}

.p-20 {
  padding: 20px;
}

.rounded {
  border-radius: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

.red-rect {
  background: #ff4700;
  width: 80px;
  height: 10px;
  margin: 5px auto 0 auto;
}

nav {
  position: fixed;
  top: 0;
  padding: 0px 10px;
  background: rgba(5, 23, 58, 0.8);
  z-index: 100;
}

.brand-logo img {
  margin: 10px 0 10px 0;
  width: 15rem;
}

.sidenav-trigger {
  margin: 0 !important;
}
.sidenav-trigger:hover {
  fill: #ff4700 !important;
  transition: all 0.5s;
}

.sidenav {
  width: 100vw;
  padding: 10px;
  background: url("../assets/backgroundTexture.jpg") center center no-repeat;
  background-size: cover;
  color: white;
}

.sidenav-close {
  font-size: 3em;
  cursor: pointer;
}

#menu-text {
  height: 80vh;
}
#menu-text p {
  font-size: 2em;
}
#menu-text i {
  font-size: 40px;
}
#menu-text a {
  color: white;
  transition: all 0.5s;
}
#menu-text a:hover {
  color: #ff4700;
}

.social-feed {
  height: 100px;
  position: fixed;
  bottom: 100px;
  left: 30px;
}
.social-feed a {
  display: block;
  margin: 5px;
}
.social-feed a img {
  width: 40px;
  height: 40px;
}

.contact {
  height: 100px;
  position: fixed;
  bottom: 100px;
  right: 30px;
}
.contact a {
  display: inline;
  color: white;
}
.contact a h2 {
  display: inline;
  border-bottom: 5px solid #ff4700;
  transition: all 0.5s;
}
.contact a h2:hover {
  color: #ff4700;
}

.red-rect-left {
  width: 100px;
  height: 20px;
  background: #ff4700;
  margin: 20px 0;
}

.page-footer {
  margin-top: 100px;
  padding: 50px 0 0 0;
  background: url("../assets/backgroundTexture.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: white 1px solid;
}
.page-footer .footer-copyright {
  background: linear-gradient(90deg, rgba(63, 161, 252, 0.5) 0%, rgba(9, 9, 121, 0.5) 45%, rgba(46, 217, 195, 0.5) 100%);
  padding-bottom: 50px;
}

.container-fluid {
  margin: 100px 50px 50px 50px;
}

.grid-container {
  height: 90vh;
  color: white;
}

.grid-item-80 {
  height: 80%;
}

.grid-item {
  height: 100%;
}

.grid-item-inner {
  width: 100%;
  border-radius: 25px;
  color: white;
}

.opening {
  height: 80vh;
  background: url("../assets/images/media-manager.jpg") center left no-repeat;
  background-size: cover;
  width: 100%;
}

#canvas-container {
  overflow: hidden;
}

.switches {
  border-top: 1px solid #2667ff;
  padding-bottom: 15px;
}

.dataPortal {
  padding: 30px 30px 30px 30px;
}

.inner1,
.inner2 {
  padding: 0 20px !important;
}

.inner2 {
  margin-top: 12px;
}

.switch-group {
  padding: 5px 0;
}

.switch {
  padding: 2px 0;
}
.switch label {
  color: white;
  font-size: 1em;
}
.switch span.lever {
  background-color: rgba(255, 255, 255, 0.5);
}
.switch span.lever::after {
  background-color: white;
}

.switch#switch-reported label input[type=checkbox]:checked + .lever {
  background-color: #ffdf99;
}

.switch#switch-reported label input[type=checkbox]:checked + .lever::after {
  background-color: #ffb000;
}

.switch#switch-action label input[type=checkbox]:checked + .lever {
  background-color: #ffb599;
}

.switch#switch-action label input[type=checkbox]:checked + .lever::after {
  background-color: #ff4700;
}

#africa,
#value-africa {
  display: none;
}

.next-arrow {
  margin-left: 20px;
  margin-top: 10px;
  transform: rotate(-90deg);
  width: 2em;
}

#dash-link-1, #dash-link-2, #dash-link-3 {
  transition: all 0.5s;
}
#dash-link-1:hover, #dash-link-2:hover, #dash-link-3:hover {
  background: rgba(46, 181, 195, 0.4);
  cursor: pointer;
}

.top-container {
  margin-top: 100px !important;
}

.white-block {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 50px 50px;
  color: #666666;
}
.white-block .content {
  width: 100%;
}
.white-block .content .subtle-text {
  line-height: 5px;
  font-family: Bebas Neue;
}
.white-block .content hr {
  margin-bottom: 20px;
  border-top: 1px solid #333333;
}

.dropdown-trigger.btn {
  font-size: 1.2em;
  padding: 5px 20px;
  height: auto;
}

#dropdown1 {
  max-height: 500px;
  overflow-y: scroll;
  width: 27% !important;
}
#dropdown1 li a.region-link {
  color: #4d4d4d;
}
#dropdown1 li a {
  color: #2eb5c3;
  font-size: 1.5em !important;
}

div.test {
  background: red;
  height: 5px;
}

.selected {
  margin-left: 20px;
  font-family: Bebas Neue;
  font-size: 3em;
  color: #333333;
}

.graph-container {
  height: 70vh;
}

.graph-content {
  height: 100%;
  padding: 20px;
  font-family: Bebas Neue;
  display: flex;
  flex-flow: column;
}

.content-header {
  flex: 0 1 auto;
}

.canvas {
  flex: 1 1 auto;
  width: 100%;
  height: 100px;
}

.bottom-row {
  flex: 0 1 100px;
  width: 100%;
  align-self: flex-end;
}

.sample-size {
  display: flex;
  align-items: center;
}
.sample-size .actual-sample {
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
}

#switches-i, #switches-ii, #switches-iii, #switches-iv, #switches-v, #switches-vi {
  display: flex;
  align-content: flex-start;
}

.switch-group {
  display: inline-block;
}

.d3-tip {
  font-family: Bebas Neue !important;
}

p {
  font-size: 1.2em;
}

.p-small {
  font-size: 0.8em;
}

h5 {
  font-weight: 700;
}

h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  margin: 0;
}

h1 {
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-size: 6em;
  margin: 0;
}

h1.h1-smaller {
  font-size: 2.5em;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2em;
  max-width: 100vw;
  overflow-x: hidden;
}

body#texture-bg {
  background: url("../assets/backgroundTexture.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.red-block-fat {
  width: 150px;
  height: 30px;
  background: #ff4700;
}

.red-block {
  width: 100px;
  height: 10px;
  background: #ff4700;
}

.red-block-short {
  width: 40px;
  height: 10px;
  background: #ff4700;
}

.top-item {
  margin-top: 10vh;
}

.bulleted-list {
  margin: 0 50px;
}
.bulleted-list li {
  list-style-type: disc !important;
  font-size: 1.2em;
}

.divider {
  margin: 50px 0;
}

.img-container img {
  margin: 20px 0;
  width: calc(100%);
}

.img-main-container img {
  margin: 20px;
  width: 50%;
}

.tabs .tab a {
  color: gray;
  font-family: Bebas Neue;
  font-size: 1em;
  /*Custom Text Color*/
}

a.active {
  color: #2eb5c3 !important;
}

.tabs .tab a:hover {
  color: #2eb5c3;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color: #2eb5c3;
  /*Custom Text Color While Active*/
  background-color: rgba(38, 166, 154, 0.2);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color: #2eb5c3;
  /*Custom Color Of Indicator*/
}

.tab-content {
  margin-top: 50px;
}

blockquote {
  font-size: 1.3em;
  border-left: 5px solid #2eb5c3;
}

/*# sourceMappingURL=style.css.map */
