// container-fluid
.container-fluid{
  margin: 100px 50px 50px 50px;
}

// main containers
.grid-container{
  height: 90vh;
  color: white;
}
.grid-item-80{
  height: 80%;
}
.grid-item{
  height: 100%;
}
.grid-item-inner{
  width: 100%;
  border-radius: 25px;
  color: white;
}



.opening{
  height: 80vh;
  background: url('../assets/images/media-manager.jpg') center left no-repeat;
  background-size: cover;
  width: 100%;
}



// allow canvas to zoom and hide excess
#canvas-container {
  overflow: hidden;
}
.switches{
  border-top: 1px solid $blue;
}








.dataPortal {
  padding: 30px 30px 30px 30px;
}

// lhs col
.inner1,
.inner2 {
  padding: 0 20px !important;
}
.inner2 {
  margin-top: 12px;
}

// switches
.switch-group {
  padding: 5px 0;
}
.switch {
  padding: 2px 0;
  label {
    color: white;
    font-size: 1em;
  }
  span.lever {
    background-color: rgba(255, 255, 255, 0.5);
    &::after {
      background-color: white;
    }
  }
}

.switch#switch-reported label input[type='checkbox']:checked + .lever {
  background-color: lighten($yellow, 30%);
}
.switch#switch-reported label input[type='checkbox']:checked + .lever::after {
  background-color: $yellow;
}

.switch#switch-action label input[type='checkbox']:checked + .lever {
  background-color: lighten($red, 30%);
}
.switch#switch-action label input[type='checkbox']:checked + .lever::after {
  background-color: $red;
}

//  styling for Africa bubble
#africa,
#value-africa {
  display: none;
}



// styling for fulldata buttons
.view-full {
  display: flex;
  width: 100%;
  height: 50px;
}
.inline {
  display: inline-block;
  display: flex;
  align-content: center;
}
.next-arrow {
  margin-left: 20px;
  margin-top: 10px;
  transform: rotate(-90deg);
  width: 2em;
}
