.top-container{
    margin-top: 100px!important;
}
.white-block{
    background: rgba(white, 0.8);
    border-radius: 25px;
    padding: 50px 50px;
    color: lighten(black, 40);
    .content{
        width: 100%;
        .subtle-text{
            line-height: 5px;
            font-family: Bebas Neue;
        }
        hr{
            margin-bottom: 20px;
            border-top: 1px solid lighten(black, 20);
        }
    }

}
.dropdown-trigger.btn{
    font-size: 1.2em;
    padding: 5px 20px;
    height: auto;
}

#dropdown1{
    max-height: 500px;
    overflow-y: scroll;
    width: 27%!important;
    li{
        a.region-link{
            color: lighten(black, 30);
        }
        a{
            color: $teal;
            font-size: 1.5em!important;
        }
    }
}

div.test{
    background: red;
    height: 5px;
}

.selected{
    margin-left: 20px;
    font-family: Bebas Neue; 
    font-size: 3em;
    color: lighten(black, 20)
}


.graph-container{
    height: 70vh;
}
.graph-content{
    height: 100%;
    padding: 20px;
    font-family: Bebas Neue;
    display: flex;
    flex-flow: column;
}
.content-header{
    flex: 0 1 auto;
}
.canvas{
    flex: 1 1 auto;
    width: 100%;
    height: 100px;
}

.bottom-row{
    flex: 0 1 100px;
    width: 100%;
    align-self: flex-end;
}
.sample-size{
    display: flex;
    align-items: center;
    .actual-sample{
        border: 1px solid white;
        border-radius: 5px; 
        display: inline-block;
        padding: 5px 10px;
    }
}
#switches-i{
    display: flex;
    align-content: flex-start
}
.switch-group{
    display: inline-block;
}