// inport
@import "var.scss", "nav.scss", "dashboard.scss", "full-data.scss";

p {
  font-size: 1.2em;
}
.p-small{
  font-size: 0.8em;
}
h5{
  font-weight: 700;
}
h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
h3 {
  font-size: 2em;
  margin: 0;
}
h1 {
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-size: 6em;
  margin: 0;
}
h1.h1-smaller{
  font-size: 2.5em;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.2em;
  max-width: 100vw;
  overflow-x: hidden;
}
body#texture-bg {
  background: url("../assets/backgroundTexture.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.red-block-fat{
  width: 150px;
  height: 30px;
  background: $red;
}
.red-block{
  width: 100px;
  height: 10px;
  background: $red;
}
.red-block-short{
  width: 40px;
  height: 10px;
  background: $red;
}
.top-item{
  margin-top: 10vh;
}

.bulleted-list {
  margin: 0 50px;
  li{
    list-style-type: disc !important;
    font-size: 1.2em;
  } 
}
// .col{
//   border: 1px solid pink;
// }
.divider{
  margin: 50px 0; 
}
.img-container{
  img{
    margin: 20px 0 ;
    width: Calc(100%);
  }
}
.img-main-container{
  img{
    margin: 20px;
    width: 50%;
  }
}

.tabs .tab a {
  color: lighten(black, 050);
  font-family: Bebas Neue;
  font-size: 1em;
  /*Custom Text Color*/
}
a.active{
  color: $teal!important;
}

.tabs .tab a:hover {
  color:$teal;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color: $teal;
  /*Custom Text Color While Active*/
  background-color: rgba(38, 166, 154, 0.2);
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color:$teal;
  /*Custom Color Of Indicator*/
}
.tab-content{
  margin-top: 50px;
}

blockquote{
  font-size: 1.3em;
  border-left: 5px solid $teal;
}