// inport
@import "var.scss", "nav.scss", "dashboard.scss";

p {
  font-size: 1.2em;
}
h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
h3 {
  font-size: 2em;
  margin: 0;
}
h1 {
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-size: 4em;
  margin: 0;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1em;
  max-width: 100vw;
  overflow-x: hidden;
}
body#texture-bg {
  background: url("../assets/backgroundTexture.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heading {
  margin-top: 80px;
}
.red-text {
  color: $red !important;
}
.underline-text {
  text-decoration: underline;
}
