// inport
@import "var.scss", "dashboard.scss";

p {
  font-size: 1.2em;
}
h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
h3 {
  font-size: 2em;
  margin: 0;
}
h1 {
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-size: 4em;
  margin: 0;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1em;
  max-width: 100vw;
  overflow-x: hidden;
}
body#texture-bg {
  background: url("../assets/backgroundTexture.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  position: fixed;
  top: 0;
  padding: 0px 10px;
  height: auto !important;
  background: rgba(darken($darkBlue, 15), 0.5);
}
.brand-logo {
  img {
    padding-top: 10px;
    width: 16rem;
  }
}
.sidenav-trigger {
  margin: 0 !important;
  &:hover {
    fill: $red !important;
    transition: all 0.5s;
  }
}

// side nav styles
.sidenav-close {
  font-size: 3em;
  cursor: pointer;
}
.sidenav {
  width: 100vw;
  padding: 10px;
  background: url("../assets/backgroundTexture.jpg") center center no-repeat;
  background-size: cover;
  color: white;
}
#menu-text {
  height: 100px;
  p {
    font-size: 2em;
  }
  a {
    color: white;
    transition: all 0.5s;
    &:hover {
      color: $red;
    }
  }
}

.social-feed {
  a {
    display: block;
    margin: 5px;
    img {
      width: 60px;
      height: 60px;
    }
  }
}

.contact {
  a {
    display: inline;
    color: white;
    h1 {
      display: inline;
      border-bottom: 5px solid $red;
    }
  }
}

.red-rect-left {
  width: 100px;
  height: 20px;
  background: $red;
  margin: 20px 0;
}

.heading {
  margin-top: 80px;
}
.red-text {
  color: $red !important;
}
.underline-text {
  text-decoration: underline;
}
