// colours
$darkBlue: #0c3280;
$blue: #2667ff;
$teal: #2eb5c3;
$red: #ff4700;
$yellow: #ffb000;
$gradient: linear-gradient(90deg, rgba(63,161,252,1) 0%, rgba(9,9,121,1) 45%, rgba(46,217,195,1) 100%);
$gradient-opaque: linear-gradient(90deg, rgba(63,161,252,0.5) 0%, rgba(9,9,121,0.5) 45%, rgba(46,217,195,0.5) 100%);

.darkBlue {
  background: $darkBlue;
}
.darkBlueMask {
  background: rgba($blue, 0.1);
}
.blue {
  background: $blue;
}
.teal {
  background: $teal;
}
.red {
  background: $red;
}
.yellow {
  background: $yellow;
}

// flex box
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-stretch{
  align-content: stretch;
}
.space-between{
  justify-content: space-between
}
.align-center {
  align-content: center;
}
.flex-end{
  align-content: flex-end;
}
.flex-col {
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}


// *height style
$start : 0;
$end: 100;

@for $i from $start through $end {
  .hp-#{$i} {
    height: ($i) * 1%;
  }
}


// *padding styles
.p-20{
  padding: 20px;
}



.rounded {
  border-radius: 20px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.w-100 {
  width: 100%;
}

// this page specific elements
.red-rect {
  background: $red;
  width: 80px;
  height: 10px;
  margin: 5px auto 0 auto;
}
